

<div class="container-fluid" ng-controller="MembersController">
<div id="mainMenu" ng-include="'public/mainMenu.html'"></div> 
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6  mt--1"><h3 class="h3-responsive">Agent`s Details</h3></div>
		<div class="col-md-3 col-sm-6 col-xs-6 pull-right">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</div>
	</div>
	<div class="row">
	
		<div class="col-md-2 col-xs-4 pull-right">
							<button style='border:none;background:transparent;color:black;' ng-disabled='currentPage == 0' class='glyphicon glyphicon-chevron-left' ng-click='currentPage=currentPage-1'></button>
													  <b>  {{currentPage+1}} / {{numberOfPages()}} </b>
													  <input type='number' min='1' max='{{maxpage}}' ng-change='checkcurrpage(myValue)' style='width:35%' class="hidden-xs" ng-model='myValue'>
														<button style='border:none;background:transparent;color:black' class='glyphicon glyphicon-chevron-right' ng-disabled='currentPage >= AgentsList.length/pageSize - 1' ng-click='currentPage=currentPage+1'></button>
		</div>
		
			<div class="col-md-2 col-xs-4 pull-right"><select class="form-control" ng-model="pageSize" ng-options="obj.value as obj.name for obj in recordsdisplay">
			<option value="" selected disabled>Record to display</option>
		</select>
		</div>
		
	</div>
	<div class="loader"></div>
		<div class="row mt-1">
		<div class="table-responsive" ng-init="ListAgents()">
			<table class="table table-bordered table-striped">
				<thead>
					<th>#</th>
					<th>Member</th>
					<th>Mobile No.</th>
					<th>Branch</th>
					<th>Deposited Amount</th>
					<th>Status</th>
					<th>Action</th>
				</thead>
				<tbody>
					<tr ng-repeat="data in AgentsList | filter:search.values | startFrom:currentPage*pageSize | limitTo:pageSize">
						<td>{{$index + 1}}</td>
						<td>{{data.memberid.firstname}} {{data.memberid.midname}} {{data.memberid.lastname}}</td>
						<td>{{data.memberid.contactdetails.mobile1}}</td>
						<td>{{data.branch[0].branchname}}</td>
						<td class="text-right">{{data.memberid.depositeamount | number:2}}</td>
						<td class="text-center"><button class="btn" ng-class="{'btn-danger': !data.activestatus || data.activestatus === 0, 'btn-success': data.activestatus === 1}" ng-click="ActiveDeactiveFeatures(data.memberid,data.activestatus)"><span ng-if="!data.activestatus || data.activestatus === 0">Deactive</span><span ng-if="data.activestatus === 1">Active</span></button></td>
						<td class="text-center"><button class="btn btn-warning" ng-click="GetAgentsDetails(data._id)" data-toggle="modal" data-target="#AgentAssignment">Edit</button> | <button class="btn btn-danger" ng-click="">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
		
		
					<!-- Modal Agent assignment-->
					<div id="AgentAssignment" class="modal fade" role="dialog">
					  <div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<!-- <h4 class="modal-title">Accounts Details</h4> -->
						  </div>
						  <div class="modal-body">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
									<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
										<img src="uploads/{{membersDetails[0].memberid.documentsdetails.pic}}" alt="{{membersDetails[0].documentsdetails.pic}}" class="img-responsive"/>
									</div>
									
									<div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
										<div class="row">
											<h4><strong>Name: {{membersDetails[0].memberid.firstname}} {{membersDetails[0].memberid.midname}} {{membersDetails[0].memberid.lastname}}.</strong></h4>
										</div>
										
										<div class="row">
											<h4><strong>Contact: {{membersDetails[0].memberid.contactdetails.mobile1}} <span ng-if="membersDetails[0].contactdetails.mobile2">/</span> {{membersDetails[0].memberid.contactdetails.mobile2}} </strong></h4>
										</div>

										<div class="row">
											<h4><strong>Email: {{membersDetails[0].memberid.contactdetails.email}}</h4>
										</div>
									</div>
								</div>	
							</div>
							<div class="row">
								<div class="col-md-3 col-xs-12" ng-init="ListBranchs();">
		<div class="form-group">
			<label for="branch">Branch:</label>
			<select class="form-control" ng-model="membersDetails[0].branch[0]" ng-options="obj._id as obj.branchname for obj in branchList" ng-change="ListAreasOnBranch(membersDetails[0].branch[0])" >
				<option value="" selected disabled>Select Branch</option>
			</select>
			<!-- <input type="text" class="form-control" id="branch" placeholder="Branch" ng-model="membersDetails[0].branch" uib-typeahead="obj as obj.branchname for obj in branchList" typeahead-on-select="ListAreasOnBranch($item._id)" required> -->
		</div>
							</div>
							<div class="col-md-3 col-xs-12">
								<div class="form-group">
									<label for="area">Area:</label>
									
									<select class="form-control" id="area" ng-model="membersDetails[0].areaid[0]" ng-options="obj._id as obj.areaname for obj in ListOfAreas" ng-change="ListGroupsOnArea(membersDetails[0].areaid[0])">
									<option value="" selected disabled>Select Area</option>
									</select>
									
									<!-- <input type="text" class="form-control" id="area" placeholder="Area" ng-model="membersDetails[0].areaid" uib-typeahead="obj as obj.areaname for obj in ListOfAreas" typeahead-on-select="ListGroupsOnArea($item._id)" required> -->
								</div>
							</div>
							
							<div class="col-md-3 col-xs-12">
								<div class="form-group">
									<label for="group">Group:</label>
									<select class="form-control" id="group" ng-model="membersDetails[0].group[0]" ng-options="obj._id as obj.groupname for obj in ListOfGroups">
									
									</select>
									<!-- <input type="text" class="form-control" id="group" placeholder="Group" ng-model="membersDetails[0].group" uib-typeahead="obj as obj.groupname for obj in ListOfGroups" required> -->
								</div>
							</div>
							
							<div class="col-md-3 col-xs-12" style="margin-bottom:1rem;">
								<button class="btn" ng-class="{'btn-danger': !membersDetails[0].memberid.isagent || membersDetails[0].isagent === 0, 'btn-success': membersDetails[0].memberid.isagent === 1}" ng-click="ActiveDeactiveFeatures(membersDetails[0].memberid,membersDetails[0].activestatus)"><span ng-if="!membersDetails[0].memberid.isagent || membersDetails[0].memberid.isagent === 0">Deactive</span><span ng-if="membersDetails[0].memberid.isagent === 1">Active</span></button>
								
							</div>
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-primary" ng-click="SaveMemberAsAgent()"data-dismiss="modal" >Submit</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						  </div>
						</div>

					  </div>
					</div>
				</div>
		

		
</div>